DRONE_SERVER_HOST={{ drone_server_host }}
DRONE_SERVER_PROTO={{ drone_server_proto }}
DRONE_RPC_SECRET={{ drone_rpc_secret }}
DRONE_SERVER_CERT=/etc/letsencrypt/live/{{ drone_server_host }}/fullchain.pem
DRONE_SERVER_KEY=/etc/letsencrypt/live/{{ drone_server_host }}/privkey.pem
DRONE_WEBROOT=/data/webroot
